body {
    background-color: beige;
  }
  .box-1 {
    width: 100vw;
    height: 5vw;
    /* border: brown solid 0.1px; */
    margin: -1px;
    text-transform: titlecase;
    text-align: center;
    /* box-shadow: 5px 10px 8px beige inset, -5px -10px 8px beige inset; */
    background-color: brown;
  }
  .back {
    background-color: beige;
    box-shadow: 5px 10px 8px beige inset, -5px -10px 8px beige inset;
  }
  h1 {
    width: 100vw;
    /* height: 1vw; */
    background-image: url(../images/4.jpg);
    background-position-x: right;
    box-shadow: 5px 10px 8px beige inset, -5px -10px 8px beige inset;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* height: 130px; */
    padding-bottom: 5em;
    font-family: cursive;
  }
  ul {
    /* display: inline-block; */
    /* align-items: center; */
    /* width: 100vw;
    height: 4vw; */
    float: right;
    /* background-image: url(../images/2.jpg); */
    /* background-position: center; */
    /* background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 130px;  */
  }
  li {
    list-style-type: none;
    padding-bottom: 5em;
  }
  ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 3em;
    margin-left: 4em;
    font-weight: bolder;
    color: white;
    text-align: center;
  }
  ul li a:hover {
    color: yellow;
    cursor: pointer;
    background-color: green;
  }
  .shortbox {
    width: 60vw;
    height: 20vw;
    /* border: solid brown 2px; */
    /* margin: -1px; */
    /* background-color: antiquewhite; */
    box-shadow: 5px 2px 40px brown;
    /* box-shadow: 5px 10px 8px burlywood inset, -5px -10px 8px white inset; */
    background-color: beige;
    padding-top: 1em;
    margin-bottom: 1em;
  }
  .asidebox {
    height: 41vw;
    width: 37.3vw;
    /* border: brown solid 2px; */
    margin: 5px;
    background-color: brown;
  }
  .floatleft {
    float: left;
  }
  .floatright {
    float: right;
  }
  .clearboth {
    clear: both;
  }
  aside {
    padding-top: 1.7em;
    background-image: url(../images/bet.jpg);
    background-position: center;
    background-size: 100% 100%;
    box-shadow: 10px 18px 18px beige inset, -10px -18px 18px brown inset;
  }
  .boxshadow {
    width: 100vw;
    /* border: 1px solid; */
    box-shadow: 5px 10px 8px burlywood inset, -5px -10px 8px white inset;
  }
  .textShadow {
    text-shadow: 2px 2px green, 5px 5px 10px yellow;
  }
  .foot {
    width: 100vw;
    height: 6.2vw;
    /* border: black solid 2px; */
    /* margin: 5px; */
    background-color: brown;
    text-align: center;
    /* color: blue; */
    font-weight: bold;
    /* padding-top: 3em; */
    letter-spacing: 0.1em;
    font-family: "Courier New", Courier, monospace;
    padding-bottom: 1em;
  }
  
  .foot a:hover {
    background-color: yellow;
    cursor: pointer;
    color: blue;
  }
  footer a {
    text-decoration: none;
    list-style-type: none;
    color: white;
  }
  /* .carousel-cell {
    display: inline-block;
    margin-left: 1em;  
  } */
  /* .fade-out {
    animation: fadeOut ease 8s;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  } */
  /* .anim {
    padding-top: 0.1em;
  } */
  
  img {
    position: absolute;
    /* right: 10px; */
    background-position: center;
    background-size: 100% 100%;
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
  }
  nav {
    width: 98vw;
    height: 11vh;
    background-color: #eeeeee;
  }
  img {
    width: 6vw;
    height: 3vw;
    margin-left: 3.5vw;
    margin-top: 1vw;
  }
  /* ul{
    list-style: none;
    width: 35vw;
    height: 100%;
    text-align: right;
    float: right;
    padding: 0;
    margin: 0;
  } */
  li {
    display: inline-block;
    margin-top: 2vw;
  }
  