aside {
    /* padding-top: 1.7em; */
    background-image: url(./images/map.png);
    background-position: center;
    background-size: 100% 100%;
    box-shadow: 10px 18px 18px beige inset, -10px -18px 18px brown inset;
  }