body {
  background-color: beige;
  background-image: linear-gradient(to bottom right, beige, goldenrod);
}

h1 {
  width: 100vw;
  height: 10vw;
  background-image: url(./images/6.png);
  /* background-position-x: left; */
  box-shadow: 5px 20px 18px goldenrod inset, -5px -20px 18px beige inset;
  background-position: left;
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  /* padding-bottom: 2em; */
  /* padding-bottom: 6em; */
  font-family: cursive;
  /* margin-right: 1em; */
}

nav li {
  display: inline-block;
  height: 100%;
  width: 15%;
  /* padding-top: 1em; */
}

header .box {
  display: flex;
  position: fixed;
  align-items: center;
  /* margin-top: -2em;
  background-image: linear-gradient(to bottom right, green, white); */

  justify-content: center;
  width: 100%;
  height: 10%;
}

.box li a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: right;
}

.box li a:hover {
  background-color: white;
  
}

/* .box-1 {
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
} */

.box-2 {
  display: flex;
  flex-direction: column;
  background-size: cover;
}

/* .box-2 .wrap a:hover {
  background-color: aquamarine;
} */

.container {
  display: flex;
  padding: 20px;
  margin-left: 6em;
}

.container .cont {
  margin-right: 5em;
}

.cont-1 {
  color: orange;
}
